<a href="https://colab.research.google.com/github/joseasequeira/Andres21-ctrl/blob/main/Imdb_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
#En este proyecto, realicé un análisis exploratorio de un dataset de películas destacadas en IMDB utilizando SQL dentro de Python,
#implementado en Google Colab. Elegí Google Colab como entorno de desarrollo debido a su accesibilidad desde cualquier dispositivo, su capacidad
#para trabajar con bibliotecas preinstaladas y su integración con bases de datos y herramientas de análisis de datos.

In [31]:
#Vamos a comenzar nuestro proyecto importando las librerias necesarias para manipular nuestros datos
import pandas as pd
import numpy as np
import pandasql as ps
pd.options.display.max_rows = 200

In [4]:
# Importamos el módulo 'files' de Google Colab para manejar archivos.
# Subimos archivos desde la computadora al entorno de Colab y los guardamos en 'uploaded'
from google.colab import files
uploaded = files.upload()

Saving imdb_movies.csv to imdb_movies.csv

In [5]:
# Leemos el archivo 'imdb_movies.csv' que subimos previamente y lo cargamos como un DataFrame de pandas.
import io
top_movies = pd.read_csv(io.BytesIO(uploaded['imdb_movies.csv']))

In [6]:
# Mostramos las primeras 10 filas del DataFrame 'data' para visualizar un resumen de los datos cargados.
top_movies.head(5)

,names,date_x,score,genre,overview,crew,orig_title,status,orig_lang,budget_x,revenue,country
0,Creed III,03/02/2023,73,"Drama, Action","After dominating the boxing world, Adonis Cree...","Michael B. Jordan, Adonis Creed, Tessa Thompso...",Creed III,Released,English,75000000.0,2.716167e+08,AU
1,Avatar: The Way of Water,12/15/2022,78,"Science Fiction, Adventure, Action",Set more than a decade after the events of the...,"Sam Worthington, Jake Sully, Zoe Saldaña, Neyt...",Avatar: The Way of Water,Released,English,460000000.0,2.316795e+09,AU
2,The Super Mario Bros. Movie,04/05/2023,76,"Animation, Adventure, Family, Fantasy, Comedy","While working underground to fix a water main,...","Chris Pratt, Mario (voice), Anya Taylor-Joy, P...",The Super Mario Bros. Movie,Released,English,100000000.0,7.244590e+08,AU
3,Mummies,01/05/2023,70,"Animation, Comedy, Family, Adventure, Fantasy","Through a series of unfortunate events, three ...","Óscar Barberán, Thut (voice), Ana Esther Albor...",Momias,Released,"Spanish, Castilian",12300000.0,3.420000e+07,AU
4,Supercell,03/17/2023,61,Action,Good-hearted teenager William always lived in ...,"Skeet Ulrich, Roy Cameron, Anne Heche, Dr Quin...",Supercell,Released,English,77000000.0,3.409420e+08,US

In [7]:
# Mostramos los nombres de todas las columnas del DataFrame 'data'
# para conocer la estructura y los datos disponibles.
top_movies.columns

Index(['names', 'date_x', 'score', 'genre', 'overview', 'crew', 'orig_title',
       'status', 'orig_lang', 'budget_x', 'revenue', 'country'],
      dtype='object')

In [10]:
#Vamos a comenzar a explorar le información contenida en nuestra base de datos

In [11]:
# Configurar pandas para que muestre todos los números sin notación científica
pd.set_option('display.float_format', '{:,.0f}'.format)

In [12]:
# ¿Cuales son las 10 peliculas con los ingresos más altos en la base de datos de IMDB?
consulta = """
SELECT DISTINCT names, revenue
FROM top_movies
ORDER BY revenue DESC
LIMIT 10;
"""
resultado = ps.sqldf(consulta, locals())
print("Las 10 peliculas que más dinero han recaudado son:")
print(resultado)

Las 10 peliculas que más dinero han recaudado son:
                                    names       revenue
0                                  Avatar 2,923,706,026
1                       Avengers: Endgame 2,794,731,755
2                Avatar: The Way of Water 2,316,794,914
3                                 Titanic 2,222,985,568
4    Louis Tomlinson: All of Those Voices 2,081,794,006
5            Star Wars: The Force Awakens 2,068,223,624
6                  Avengers: Infinity War 2,048,359,754
7                           Rathinirvedam 1,916,346,675
8                 Spider-Man: No Way Home 1,910,048,245
9  BTS: Permission to Dance on Stage - LA 1,748,017,438

In [13]:
# ¿Cúal es la pelicula con el presupuesto mas alto de nuestra base de datos?
consulta = """
SELECT names, budget_x
FROM top_movies
ORDER BY budget_x DESC
LIMIT 1;
"""
resultado = ps.sqldf(consulta, locals())
print("La pelicula con el presupuesto más alto de la historia es:")
print(resultado)

La pelicula con el presupuesto más alto de la historia es:
                      names    budget_x
0  Avatar: The Way of Water 460,000,000

In [20]:
#En qué día se estrenaron más peliculas?
consulta = """
SELECT date_x, COUNT(*) AS movie_count
FROM top_movies
GROUP BY date_x
ORDER BY COUNT(*) DESC
LIMIT 1;
"""
resultado = ps.sqldf(consulta, locals())
print("El día en que se estrenaron más peliculas fue:")
print(resultado)

El día en que se estrenaron más peliculas fue:
        date_x  movie_count
0  04/07/2023            41

In [15]:
#¿Cúales son los 5 generos con más ingresos?
consulta = """
SELECT genre, AVG(revenue) AS avg_revenue
FROM top_movies
GROUP BY genre
ORDER BY avg_revenue DESC
LIMIT 5;
"""
resultado = ps.sqldf(consulta, locals())
print("Los 5 generos con más ingresos son:")
print(resultado)

Los 5 generos con más ingresos son:
                                               genre   avg_revenue
0        Adventure, Action, Science Fiction, Fantasy 2,068,223,624
1      Family, Animation, Adventure, Comedy, Fantasy 1,437,862,795
2                           Family, Animation, Drama 1,316,963,710
3  Animation, Action, Comedy, Mystery, Crime, Fan... 1,213,425,727
4  TV Movie, Animation, Science Fiction, Action, ... 1,180,869,058

In [19]:
#-- ¿Cúales son los ingresos promedio anuales generados por peliculas en cada país?
consulta = """
SELECT country, AVG(revenue) AS Total_revenue
FROM top_movies
GROUP BY country;
"""
resultado = ps.sqldf(consulta, locals())
print("Los ingresos por país son:")
print(resultado)

Los ingresos por país son:
   country  Total_revenue
0       AR    456,560,785
1       AT     72,282,768
2       AU    192,945,447
3       BE    328,309,975
4       BO    638,332,463
5       BR    367,192,509
6       BY    175,269,999
7       CA    253,273,459
8       CH    297,093,649
9       CL    376,139,634
10      CN    296,076,152
11      CO    534,571,540
12      CZ    316,265,039
13      DE    358,353,693
14      DK    239,348,748
15      DO    400,066,522
16      ES    345,563,529
17      FI     66,214,266
18      FR    305,631,854
19      GB    295,877,850
20      GR    154,849,503
21      GT    655,664,752
22      HK    330,804,782
23      HU    370,750,873
24      ID    313,651,704
25      IE    270,712,673
26      IL    254,504,167
27      IN    285,128,163
28      IR    193,600,405
29      IS    443,980,387
30      IT    357,659,815
31      JP    408,106,272
32      KH    175,269,999
33      KR    350,030,132
34      LV    542,233,172
35      MU    728,608,266
36      MX    469,644,985
37      MY     22,443,972
38      NL    369,452,979
39      NO    209,286,725
40      PE    361,959,154
41      PH    331,340,101
42      PL    440,802,594
43      PR    545,316,308
44      PT      1,240,262
45      PY    356,935,817
46      RU    220,233,805
47      SE    312,184,372
48      SG    333,077,714
49      SK    175,269,999
50      SU    177,365,780
51      TH    381,085,420
52      TR    337,170,686
53      TW    451,275,064
54      UA    127,479,530
55      US    270,571,053
56      UY    179,105,223
57      VN    206,250,037
58      XC     23,146,523
59      ZA    208,272,848

In [23]:
pd.set_option('display.max_columns', None)  # Mostrar todas las columnas
pd.set_option('display.width', 1000)  # Ajustar el ancho de la tabla

In [24]:
#-- ¿Cúales son las peliculas más caras por idioma?
consulta = """
SELECT orig_lang, names, MAX(budget_x) AS highest_budget
FROM top_movies
GROUP BY orig_lang
ORDER BY highest_budget DESC;
"""
resultado = ps.sqldf(consulta, locals())
print("Las peliculas más caras de producir por cada idioma son:")
print(resultado)

Las peliculas más caras de producir por cada idioma son:
                               orig_lang                                      names  highest_budget
0                                English                   Avatar: The Way of Water     460,000,000
1                                   Thai                              Tiger Running     264,940,000
2                                  Tamil                            August 16, 1947     264,940,000
3                                Tagalog                       Here Comes the Groom     264,940,000
4                     Spanish, Castilian                GyG 2: El Hotel de los Líos     264,940,000
5                                Russian                            Я хочу! Я буду!     264,940,000
6                             Portuguese                            Hora de Brilhar     264,940,000
7                              Malayalam                        Charles Enterprises     264,940,000
8                               Japanese            Step Up Love Story: Double Love     264,940,000
9                                 French                 How to Survive Without Mum     264,940,000
10                             Cantonese                              Wai's Romance     264,940,000
11                               Turkish             Days of Fire, Love and Anarchy     241,940,000
12                           No Language                                   Grenfell     241,940,000
13                                Telugu                                     Ahimsa     223,940,000
14                               Chinese                                    Geylang     223,000,000
15                                 Hindi                                Blood Money     218,000,000
16                                Korean     BTS: Permission to Dance on Stage - LA     215,600,000
17                               Italian                                      Jesus     213,940,000
18                                German               Hui Buh und das Hexenschloss     205,000,000
19                         Central Khmer                      The Ritual: Black Nun     195,000,000
20                               Bengali                                      Mayaa     193,940,000
21                                Slovak                             The Unbalanced     174,600,000
22                             Norwegian                Three Wishes for Cinderella     174,600,000
23                             Hungarian             Three Thousand Numbered Pieces     174,600,000
24                               Swedish                          Wild Strawberries     174,400,000
25                               Marathi                                   Circuitt     167,540,000
26                        Dutch, Flemish                                The Student     167,400,000
27                               Latvian                                     Squeal     165,800,000
28                                Polish                         365 Days: This Day     162,100,000
29                                Danish                                       Lulu     156,600,000
30                            Vietnamese                Tri Âm: Người Giữ Thời Gian     141,600,000
31                                 Greek                 Emmanuelle: Queen of Sados     140,000,000
32                            Indonesian                                Photocopier     139,800,000
33                             Icelandic                                   The Oath     117,600,000
34                                Basque  Errementari: The Blacksmith and the Devil     115,600,000
35                               Kannada                           K.G.F: Chapter 1     113,600,000
36                              Galician                                 The Beasts     113,400,000
37                                Arabic                               Huda's Salon     108,200,000
38                              Romanian                               A Higher Law     101,200,000
39                    Catalan, Valencian                                   Alcarràs      95,000,000
40                        Serbo-Croatian                         I Miss Sonia Henie      80,000,000
41                              Dzongkha             Lunana: A Yak in the Classroom      67,800,000
42                             Ukrainian                        The Stolen Princess      61,424,640
43                               Persian          The Shoga (Glass and Gas) Company      58,670,000
44                            Macedonian                         You Won't Be Alone      39,677,129
45                                 Latin                             The First King      27,874,800
46                                 Malay           Coast Guard Malaysia: Ops Helang      15,541,000
47                               Finnish                                  Supercool      10,000,000
48                                 Irish                             The Quiet Girl       5,389,600
49                               Serbian                             A Serbian Film       3,840,000
50   Bokmål, Norwegian, Norwegian Bokmål                               Troll Hunter       3,500,000
51                              Gujarati                             Last Film Show       2,000,000
52                                 Czech                                Men in Hope       1,130,710
53                                 Oriya                           Phalguna Chaitra         103,845

In [27]:
#Países con más películas producidas
consulta = """
SELECT country, COUNT(*) AS movie_count
FROM top_movies
GROUP BY country
ORDER BY movie_count DESC;
"""
resultado = ps.sqldf(consulta, locals())
print("Países con más películas producidas")
print(resultado)

Países con más películas producidas
   country  movie_count
0       AU         4885
1       US         2750
2       JP          538
3       KR          361
4       FR          222
5       GB          174
6       ES          153
7       HK          125
8       IT          123
9       MX          105
10      CN           93
11      DE           88
12      CA           67
13      RU           52
14      PH           43
15      IN           43
16      AR           41
17      BR           38
18      TH           30
19      DK           24
20      PL           22
21      TR           20
22      NO           16
23      NL           16
24      CO           14
25      TW           13
26      ID           12
27      IE           11
28      SE            9
29      CL            9
30      PE            7
31      BE            7
32      GR            6
33      FI            6
34      SU            5
35      CH            5
36      UA            4
37      SG            4
38      ZA            3
39      VN            3
40      HU            3
41      UY            2
42      SK            2
43      PR            2
44      MY            2
45      IS            2
46      IR            2
47      GT            2
48      CZ            2
49      AT            2
50      XC            1
51      PY            1
52      PT            1
53      MU            1
54      LV            1
55      KH            1
56      IL            1
57      DO            1
58      BY            1
59      BO            1

In [30]:
# Películas con mayor diferencia entre ingresos y presupuesto
consulta = """
SELECT DISTINCt names, genre, revenue, budget_x, (revenue - budget_x) AS profit
FROM top_movies
WHERE revenue > budget_x -- Aseguramos que solo sean ganancias
ORDER BY profit DESC
LIMIT 10;
"""
resultado = ps.sqldf(consulta, locals())
print("#Películas con mayor diferencia entre ingresos y presupuesto")
print(resultado.to_string(index=False))

#Películas con mayor diferencia entre ingresos y presupuesto
                               names                                       genre       revenue    budget_x        profit
                              Avatar Action, Adventure, Fantasy, Science Fiction 2,923,706,026 237,000,000 2,686,706,026
                   Avengers: Endgame          Adventure, Science Fiction, Action 2,794,731,755 400,000,000 2,394,731,755
                             Titanic                              Drama, Romance 2,222,985,568 200,000,000 2,022,985,568
Louis Tomlinson: All of Those Voices                          Documentary, Music 2,081,794,006 178,800,000 1,902,994,006
            Avatar: The Way of Water          Science Fiction, Adventure, Action 2,316,794,914 460,000,000 1,856,794,914
        Star Wars: The Force Awakens Adventure, Action, Science Fiction, Fantasy 2,068,223,624 245,000,000 1,823,223,624
              Avengers: Infinity War          Adventure, Action, Science Fiction 2,048,359,754 300,000,000 1,748,359,754
             Spider-Man: No Way Home          Action, Adventure, Science Fiction 1,910,048,245 200,000,000 1,710,048,245
                       Rathinirvedam                                        None 1,916,346,675 227,800,000 1,688,546,675
     Franco Escamilla: Eavesdropping                                      Comedy 1,714,444,954 151,000,000 1,563,444,954

In [34]:
#Película más antigua
consulta = """
SELECT names, MIN(date_x) AS earliest_date
FROM top_movies;
"""
resultado = ps.sqldf(consulta, locals())
print("#La Película más antigua es:")
print(resultado.to_string(index=False))

#La Película más antigua es:
               names earliest_date
Beauty and the Beast   01/01/1952